@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.Quiz {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: cornflowerblue;
    font-size: 10vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}