@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.Quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7b2b94;
}

.TxtHeader {
    margin: 5vh 0 5vh 0;
    text-transform: uppercase;
    color: #ffe107;
    font-size: 8vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}