.Layout {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}