@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.QuizBox {
    width: 45vw;
    border: 1.5px solid #f1f1f1;
    //border-bottom: none;
    color: #7b2b94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 0.2em;
    margin-bottom: 7vh;
}

.HeaderTxtQuiz {
    display: flex;
    font-size: 5vh;
    justify-content: space-between;
    background-color: #fff;
}

.QuizAnswers {
    color: #fff;
    font-size: 3.5vh;
}

.Green {
    font-weight: bold;
    background-color: #40a541;
}

.Orange {
    font-style: italic;
    background-color: #ff8101;
}